@model SIMS_Project.Models.Timetable

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Timetable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TimetableID" />
            <div class="form-group">
                <label asp-for="ClassID" class="control-label"></label>
                <select asp-for="ClassID" class="form-control" asp-items="ViewBag.ClassID"></select>
                <span asp-validation-for="ClassID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectID" class="control-label"></label>
                <select asp-for="SubjectID" class="form-control" asp-items="ViewBag.SubjectID"></select>
                <span asp-validation-for="SubjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherID" class="control-label"></label>
                <select asp-for="TeacherID" class="form-control" asp-items="ViewBag.TeacherID"></select>
                <span asp-validation-for="TeacherID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label"></label>
                <input asp-for="DayOfWeek" class="form-control" />
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
